body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: aliceblue;
    margin: 5px;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container{
    background-color: aqua;
    padding: 20px;
    border-radius: 50px;
    box-shadow: 0 4px 8px darkcyan;
    text-align: center;
}

h1{
    font-size: 25px;
}

button {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border-radius: 50px;
    display: inline-block;
    box-shadow: 0 2px 4px darkcyan;
    margin: 10px;
    padding: 8px 16px;
    background-color: aqua;
    transition-duration: 0.5s;
    cursor: pointer;
}
button:hover{
    font-size: 85%;
    background-color: darkturquoise;
    color: black;
    box-shadow: 0 6px 8px darkcyan;
}